name: Deploy Frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout del repositorio
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Configurar AWS CLI con las 3 credenciales
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      # 3. Configurar Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.2

      # 4. Inicializar Terraform
      - name: Terraform Init
        run: terraform init

      # 5. Validar Terraform
      - name: Terraform Validate
        run: terraform validate

      # 6. Plan Terraform
      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan

      # 7. Aplicar cambios solo si hay cambios
      - name: Terraform Apply
        if: steps.plan.outputs.stdout != ''  # Aplica solo si hay cambios detectados
        run: terraform apply -auto-approve tfplan
