name: Rebuild Infrastructure

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type YES to confirm destruction'
        required: true

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        if: ${{ github.event.inputs.confirm == 'YES' }}
        run: terraform destroy -auto-approve

      - name: Terraform Apply
        run: terraform apply -auto-approve
